* {
    box-sizing: border-box;
}

/*----------------------------SPLASH---------------------------------*/
.splash{
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #343031;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: open;
    animation-duration: 2s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
.splash img {
margin: 20px;
}
.splash::after, .splash::before{
    content: "";
    position: absolute;
    background-color: #343031;
    height: 100vh;
    width: 35vw;
    z-index: 99;
    animation-name: open;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
.splash::after{
    left: 30vw;
    animation-delay: 200ms;
}
.splash::before{
    left: 0;
    animation-delay: 2s;
}

@keyframes open{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(100%, 0);
    }
}
/*----------------------COLGANTES-----------*/
#mitexto {
    background-color: red;
}
.botoncomprar {
    background-color: #F1C96D;
    text-decoration: none;
    border-radius: 3px;
    color: black;
    padding: 0.5rem;

}
.nop {
    padding: 0;
    margin: 0;
    
}
.titulo1 {
    font-size: 1.5rem;
}
del,p {display:inline}
del {color: grey;
    padding: 0.5rem;
}
.img1 {
    border-radius: 3px 0 0 3px;
}
/*---------------------------1ERA SECCION---------------------------*/

#divbanner1 h1 {
    background-image: url(../../imagenes/banner1.png);
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(../../imagenes/banner1.png) ;
    background-repeat: no-repeat; background-position: center center;
    height: 35vh;
    text-align: center;
    color: white;
    box-sizing: border-box;
    padding-top: 20vh;
    border-radius: 0 0 10px 10px;    
}
#banner2 h2, #banner3 h2, #banner4 h2, #banner5 h2 {
    padding-top: 7rem;
    font-size: 24px;
}
#banner2 {
    background-image: url(../../imagenes/banner2.png);
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(../../imagenes/banner2.png) ;

    background-repeat: no-repeat; background-position: center center;
    width: 100%;
    height: 25vh;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0;
}
#banner3 {
    background-image: url(../../imagenes/banner3.png);
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(../../imagenes/banner3.png) ;

    background-repeat: no-repeat; background-position: center center;
    width: 100%;
    height: 25vh;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0;
}
#banner4 {
    background-image: url(../../imagenes/banner4.png);
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(../../imagenes/banner4.png) ;

    background-repeat: no-repeat; background-position: center center;
    width: 100%;
    height: 25vh;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0;
}
#banner5 {
    
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(../../imagenes/banner5.png) ;

    background-repeat: no-repeat; background-position: center center;
    width: 100%;
    height: 25vh;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0;
}
#prod {
    padding: 1em 0 1em 0;
}

#divbanner1 {
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 2rem;
}
#ahora12 {
    text-align: center;
    margin-top: 2rem;
    background-color: #F1C96D;
    border-radius: 10px;
    color: black;
}
#dos {
    margin-bottom: 90px;
}
#uno h2, #uno a {
    text-decoration: none !important;
    color: white !important;
}
.space {
    padding: 2%;
}

/*---------------------------NAV BAR---------------------------------*/
.navbar {
    padding: 0;
    background: white;
}

.navbar-nav {
    width: 100%;
    background: none;
    flex-wrap: nowrap;
}
.nav-item {
    flex: 1;
    padding: 0;
}
.nav-link {
    background-color: none;
    text-align: center;
}

/* Le damos un tamaño a las img de los botones y les aplicamos transparencia para poner como activa solo la vista actualmente en foco de navegación con opacidad 1. */

img[src*=".svg"] {
    height: 1.25em;
    opacity: .5;
}

/* Inicialmente, ponemos como activa la img del primer botón (la sección uno) con opacidad 1. */

nav .nav-item:nth-of-type(1) img[src*=".svg"] {
    opacity: 1;
}

/* Con cualquier page en target (los containers que tienen aplicado el attr data-role page que corresponden a cada vista de la app), pasamos a todas las img a opacidad .5 (para desmarcar la que estuviera activa ya que no sabemos cuál era). Por eso ubicamos el nav por debajo de todo el resto para poder seleccionarlo con el operador de hermanos (~). */

[data-role="page"]:target ~ nav .nav-item img[src*=".svg"] {
    opacity: .5;
}

/* Y luego evaluamos qué page está en target para marcar la img del botón correspondiente como activa con opacidad 1. */

#uno:target ~ nav .nav-item:nth-of-type(1) img[src*=".svg"] {
    opacity: 1;
}

#dos:target ~ nav .nav-item:nth-of-type(2) img[src*=".svg"] {
    opacity: 1;
}

#tres:target ~ nav .nav-item:nth-of-type(3) img[src*=".svg"] {
    opacity: 1;
}

#cuatro:target ~ nav .nav-item:nth-of-type(4) img[src*=".svg"] {
    opacity: 1;
}

